<a href="https://colab.research.google.com/github/Mohan9392/REJOLT-DATASCIENCE/blob/main/task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  import pandas as pd

In [ ]:
df1=pd.DataFrame({'employe':['Bob','Jake','Lisa','Sue'],
                  'group':['Accounting','Engineering','Engineering','HR']})

In [ ]:
df2=pd.DataFrame({'employe':['Lisa','Bob','Jake','sue'],
                  'hire_date':[2004,2008,2012,2014]})

In [ ]:
print(df1)

  employe        group
0     Bob   Accounting
1    Jake  Engineering
2    Lisa  Engineering
3     Sue           HR

In [ ]:
print(df2)

  employe  hire_date
0    Lisa       2004
1     Bob       2008
2    Jake       2012
3     sue       2014

In [ ]:
print(pd.merge(df1,df2))

  employe        group  hire_date
0     Bob   Accounting       2008
1    Jake  Engineering       2012
2    Lisa  Engineering       2004

In [ ]:
df3=pd.DataFrame({'name':['Bob','Jake','Lisa','Sue'],
                  'salary':[7000,8000,20000,90000]})

In [ ]:
print(df1)

  employe        group
0     Bob   Accounting
1    Jake  Engineering
2    Lisa  Engineering
3     Sue           HR

In [ ]:
print(df2)

  employe  hire_date
0    Lisa       2004
1     Bob       2008
2    Jake       2012
3     sue       2014

In [ ]:
pd.merge(df1,df3,left_on="employe",right_on="name")

  employe        group  name  salary
0     Bob   Accounting   Bob    7000
1    Jake  Engineering  Jake    8000
2    Lisa  Engineering  Lisa   20000
3     Sue           HR   Sue   90000

In [ ]:
pd.merge(df1,df3,left_on="employe",right_on="name").drop("name",axis=1)

  employe        group  salary
0     Bob   Accounting    7000
1    Jake  Engineering    8000
2    Lisa  Engineering   20000
3     Sue           HR   90000

In [ ]:
df1a=df1.set_index('employe')

In [ ]:
df2a=df2.set_index('employe')

In [ ]:
print(df1a)

               group
employe
Bob       Accounting
Jake     Engineering
Lisa     Engineering
Sue               HR

In [ ]:
print(df2a)

         hire_date
employe
Lisa          2004
Bob           2008
Jake          2012
sue           2014

In [ ]:
pd.merge(df1a,df2a,left_index=True,right_index=True)

               group  hire_date
employe
Bob       Accounting       2008
Jake     Engineering       2012
Lisa     Engineering       2004

In [ ]:
df4=pd.DataFrame({'name':['peter',paul]})